header
	width 100%
	padding $padding $space
	position fixed
	display flex
	z-index 10
	background $primary
	& > div
		margin-right 3em
		&:last-child
			flex 1
			margin-right 0
			text-align right
			color #cccccc
			& > span:not(:last-child)
				margin-right 1em

